body {
  }

.header {  
    margin-bottom: 20px;
    color: #bb3e03;
}
.title {  
    margin-bottom: 20px;
    color:#005f73;
}
.subtitle {  
    margin-bottom: 20px;
    color: #0a9396;
}
.footer{
    border-top: 2px solid #005f73;
    color: #bb3e03;
    margin-top: 80px;
}
.squares {  
    margin-top: 60px;
    margin-bottom: 20px;

}
