body {
    margin: 20px;
  }
  
.title {  
    margin-bottom: 20px;
}
.footer{
    border-top: 1px solid black;
    color: rgb(219, 106, 1);
    margin-top: 80px;
}
.squares {  
    margin-top: 60px;
    margin-bottom: 20px;

}
